.TextRed {
    color: #FF0000;
}

.Background {
    background-color: #333;
    color: #FFE300;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
    border-color: black;
}


.Button {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2.5px;
    font-size: 8px;
}

.FormButton {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.FormInput {
    font-size: 20px;
}

.TextBig {
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.Line{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.Checkbox{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
}